@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #0A0A0C;
  --white: #E6E6E6;
  --lighter-black: #121213;
  --lightest-black: #1E1E1E;
  --grey: #7A7A7B;
  --light-purple: #844AEA;
}

body {
  color: var(--white);
  background: var(--main-background);
  font-family: var(--font-afacad), sans-serif;
}

.font-acme {
  font-family: var(--font-acme), serif;
}

.font-pacifico {
  font-family: var(--font-pacifico), cursive;
}

.font-afacad {
  font-family: var(--font-afacad), sans-serif;
}

.kd-purple {
  color: var(--light-purple);
}

.kd-grey {
  color: var(--grey);
}

.kd-white {
  color: var(--white);
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1.25rem; 
  padding-right: 1.25rem; 

  @screen md {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.body-copy {
  font-size: .875rem;

  @screen md {
    font-size: 1rem;
  }
}
// Menu Icons Styles
.menu-icon {
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);

    p {
      color: var(--light-purple);
    }
  }
}

.social-icon {
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
    rotate: 6deg;
  }
}
//Responsive map
.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hover-link {
    &:hover {
      color:  var(--light-purple); 
    }
}

// Footer Styles
.footer-credits {
  color: var(--grey);
  font-weight: 800;
  font-size: 0.8rem;

  @screen md {
    font-size: 1rem;
  }

  a {
    &:hover {
      color:  var(--light-purple); 
    }
  }
}

.social-icon-footer {
  img {
    background-color: var(--white);
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
    padding: 1px;
    &:hover {
      background-color: var(--light-purple);
      transform: scale(1.1);
    }
  }
}