@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-base {
    @apply bg-gradient-to-b from-card-gr-top via-card-gr-middle to-card-gr-bottom flex items-center justify-center rounded-3xl;
  }
}

:root {
  --main-background: #0A0A0C;
  --white: #E6E6E6;
  --lighter-black: #121213;
  --lightest-black: #1E1E1E;
  --grey: #7A7A7B;
  --light-purple: #844AEA;
  --neon-pink: #FF00F5;
  --neon-turquoise: #00FFE0;
  --neon-orange: #FF9100;
  --neon-green: #76FF03;
  --neon-blue: #007BFF;
}

body {
  color: var(--white);
  background: var(--main-background);
  font-family: var(--font-afacad), sans-serif;
}

.font-acme {
  font-family: var(--font-acme), serif;
}

.font-pacifico {
  font-family: var(--font-pacifico), cursive;
}

.font-afacad {
  font-family: var(--font-afacad), sans-serif;
}

.kd-purple {
  color: var(--light-purple);
}

.kd-grey {
  color: var(--grey);
}

.kd-white {
  color: var(--white);
}

.kd-neon-pink {
  color: var(--neon-pink);
}

.kd-neon-turquoise {
  color: var(--neon-turquoise);
}

.kd-neon-orange {
  color: var(--neon-orange);
}

.kd-neon-green {
  color: var(--neon-green);
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @screen md {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.body-copy {
  font-size: .875rem;

  @screen md {
    font-size: 1rem;
  }
}

.hover-link {
  &:hover {
    color: var(--light-purple);
  }
}

// Menu Icons Styles
@mixin hover-color($color) {
  &:hover {
     p {
      color: $color;
    }
  }
}

.menu-icon {
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

// Individual menu items
.ice-cream {
  @extend .menu-icon;
  @include hover-color(var(--neon-pink));
}

.popsicles {
  @extend .menu-icon;
  @include hover-color(var(--neon-blue));
}

.snacks {
  @extend .menu-icon;
  @include hover-color(var(--neon-orange));
}

.drinks {
  @extend .menu-icon;
  @include hover-color(var(--neon-green));
}

.pink-neon-glow {
  position: relative;
  color: #ff4bd8;
  text-shadow: 0 0 2px #ff4bd8, 0 0 5px rgba(255, 75, 216, 0.5);
}

.pink-neon-glow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 75, 216, 0.2);
  filter: blur(10px);
  z-index: -1;
}

.blue-neon-glow {
  position: relative;
  color: #007BFF;
  text-shadow: 0 0 2px #007BFF, 0 0 5px rgba(0, 123, 255, 0.8);
}


.blue-neon-glow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.2); ;
  filter: blur(10px);
  z-index: -1;
}

// .turquoise-neon-glow {
//   position: relative;
//   color: #00FFE0;
//   text-shadow: 0 0 2px #00FFE0, 0 0 5px rgba(0, 255, 224, 0.5);
// }

// .turquoise-neon-glow::before {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 255, 224, 0.2);
//   filter: blur(10px);
//   z-index: -1;
// }

.orange-neon-glow {
  position: relative;
  color: #FF9100;
  text-shadow: 0 0 2px #FF9100, 0 0 5px rgba(255, 145, 0, 0.5);
}

.orange-neon-glow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 145, 0, 0.2);
  filter: blur(10px);
  z-index: -1;
}

.green-neon-glow {
  position: relative;
  color: #76FF03;
  text-shadow: 0 0 2px #76FF03, 0 0 5px rgba(118, 255, 3, 0.5);
}

.green-neon-glow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(118, 255, 3, 0.2);
  filter: blur(10px);
  z-index: -1;
}

.social-icon {
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
    rotate: 6deg;
  }
}

.flip-card-container {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 3.5rem 1.5rem;
  // justify-content: start;
  margin-top: 1.75rem;

  @screen md {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem 1.5rem;
    justify-content: start;
    margin-top: 0;
  }

  .flip-card {
    // background-color: transparent;
    perspective: 1000px;
    // display: inline-flex; 

    .flip-card-inner {
      position: relative;
      width: 210px;
      height: 210px;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;

      @screen md {
        width: 275px;
        height: 275px;
      }

      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }

      .flip-card-front {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100px;
          height: 100px;
          object-fit: scale-down;

          @screen md {
            width: 150px;
            height: 150px;
          }
        }

      }

      .flip-card-back {
        transform: rotateY(180deg);
        // filter: blur(10px);

        img {
          width: 100px;
          height: 100px;
          object-fit: scale-down;

          @screen md {
            width: 150px;
            height: 150px;
          }
        }
      }

      // .flip-card-back .absolute {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      // }
    }

    &:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
  }
}

//Responsive map
.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Footer Styles
.footer-credits {
  color: var(--grey);
  font-weight: 800;
  font-size: 0.8rem;

  @screen md {
    font-size: 1rem;
  }

  a {
    &:hover {
      color: var(--light-purple);
    }
  }
}

.social-icon-footer {
  img {
    background-color: var(--white);
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
    padding: 1px;

    &:hover {
      background-color: var(--light-purple);
      transform: scale(1.1);
    }
  }
}


//SWIPER OVERRIDE STYLES
// @mixin swiper-color($color) {

  
// }

// .custom-swiper .swiper-button-prev,
// .custom-swiper .swiper-button-next {
//   color: var(--light-purple) !important;
// }

// .swiper-pagination-progressbar-fill {
//   background-color: var(--light-purple) !important;
//   height: 4px !important;
// }

// @mixin swiper-color($swiper-color) {
//   .custom-swiper {
//     .swiper-button-prev,
//     .swiper-button-next {
//       color: $swiper-color !important;
//     }

//     .swiper-pagination-progressbar-fill {
//       background-color: $swiper-color !important;
//       height: 4px;
//     }
//   }
// }

// .ice-cream-swiper {
//   @include swiper-color(var(--neon-pink));
// }

// .popsicles-swiper {
//   @include swiper-color(var(--neon-pink));
// }

// .snacks-swiper {
//   @include swiper-color(var(--neon-pink));
// }

// .drinks-swiper {
//   @include swiper-color(var(--neon-pink));
// }

.custom-swiper.ice-cream-swiper {
  .swiper-button-prev,
  .swiper-button-next {
    color: var(--neon-pink) !important;
  }

  .swiper-pagination-progressbar-fill {
    background-color: var(--neon-pink) !important;
    height: 4px !important;
  }
}

.custom-swiper.popsicles-swiper {
  .swiper-button-prev,
  .swiper-button-next {
    color: var(--neon-blue) !important;
  }

  .swiper-pagination-progressbar-fill {
    background-color: var(--neon-blue) !important;
    height: 4px !important;
  }
}


.custom-swiper.snacks-swiper {
  .swiper-button-prev,
  .swiper-button-next {
    color: var(--neon-orange) !important;
  }

  .swiper-pagination-progressbar-fill {
    background-color: var(--neon-orange) !important;
    height: 4px !important;
  }
}


.custom-swiper.drinks-swiper {
  .swiper-button-prev,
  .swiper-button-next {
    color: var(--neon-green) !important;
  }

  .swiper-pagination-progressbar-fill {
    background-color: var(--neon-green) !important;
    height: 4px !important;
  }
}
