@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #0A0A0C;
  --background: #1E1E1E;
  --foreground: #E6E6E6;
}

body {
  color: var(--foreground);
  background: var(--main-background);
}

.font-acme {
  font-family: var(--font-acme), serif;
}

.font-pacifico {
  font-family: var(--font-pacifico), cursive;
}

.font-afacad {
  font-family: var(--font-afacad), sans-serif;
}